<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Email</th>
    <th scope="col">Tipo Cliente</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @clientes.each do |cliente| %>
    <tr>
      <td><%= cliente.nombre %></td>
      <td><%= cliente.email %></td>
      <td><%= cliente.tipo_cliente_id %></td>
      <td>
        <%= link_to edit_cliente_path(cliente), class: "btn btn-primary btn-sm" do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to cliente, method: :delete, data: { confirm: "¿Estás seguro de eliminar este cliente?" }, class: "btn btn-danger btn-sm" do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
