<%= form_with(model: producto) do |form| %>
  <% if producto.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :precio, class: "form-label" %>
    <%= form.text_field :precio, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_area :descripcion, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cantidad, class: "form-label" %>
    <%= form.number_field :cantidad, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
